.icon-large {
    font-size: 4rem;
    color: var(--color-icons);
}

.class a {
    margin: 1rem;
}

body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

h1 {
    position: relative;
    text-align: center;
    color: white;
}

.socialIconsContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

main {
    padding-top: calc(50vh - 10rem);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/gradient.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Footer immer am unteren Rand */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    color: white;
}

/* Container für zensierte Blockelemente */
.censored-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}