---
import '../styles/global.css';
import Head from "../components/Head.astro";
import ChipLink from '../components/ChipLink.astro';
import D3Force from "../components/D3Force.jsx";
import graph from "../data/nodes.json";
import ThemeIcon from '../components/ThemeIcon.astro';
---
<html lang="en">
<head>
    <Head title="Marten Gierth | Portfolio"/>
</head>
<body>
<main>
    <div class="censored-container">
        <D3Force client:only="react" graph={graph}/>
        <h1>Moin, i am Marten</h1>
        <div class="linkContainer">
            <div>
                <ChipLink chipType="new" chipTypeColor="Red" chipText="Projects" url="/projects"
                          iconRight="/assets/arrow-right.svg"/>
            </div>
            <div>
                <ChipLink chipText="Legal Notice" url="/legal" iconRight="/assets/arrow-right.svg"/>
            </div>
            <div>
                <ThemeIcon/>
            </div>
        </div>
    </div>
</main>
</body>
</html>

<style>
    .h1 {
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    .censored-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        padding-top: min(50vh, calc(10vh));
    }

    .linkContainer {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    .linkContainer div {
        margin-top: 1rem;
    }
</style>