---
import SocialIcons from '../components/SocialIcons.jsx';
import '../styles/global.css';
import Head from "../components/Head.astro";
import ChipLink from '../components/chipLink.astro';
---

<html lang="en">
<head>
    <Head/>
</head>
<body style=" height: 100%; overflow: hidden;">
<div class="background"></div>
<main>
    <div class="censored-container">
        <h1 class="h1-center">Moin, I am Marten</h1>
        <div class="socialIconsContainer">
            <SocialIcons/>
        </div>
    </div>
</main>
<footer>
    <ChipLink chipType="NEW" chipTypeColor="Red" chipText="Projects" url="/projects" iconRight="assets/arrow-right.svg"/>
    <ChipLink chipText="Legal Notice" url="/legal" iconRight="assets/arrow-right.svg"/>
</body>
</html>