---
import SocialIcons from '../components/SocialIcons.jsx';
import '../styles/global.css';
import '../styles/index.css';
import Head from "../components/Head.astro";
---

<html lang="en">
<head>
    <Head/>
</head>
<body>
<div class="background"></div>
<div class="main">

    <h1> Moin, I am Marten</h1>
    <div class="socialIconsContainer">
        <SocialIcons/>
    </div>
</div>
<div class="footer">
    <a href="/legal/">legal</a>
</div>
</body>
</html>