---
import '../styles/global.css';
import ChipLink from '../components/ChipLink.astro';
import D3Force from "../components/D3Force.jsx";
import graph from "../data/nodes.json";
import ThemeIcon from '../components/ThemeIcon.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Projectwrapper from "../components/projectwrapper.astro";
import SvgShipWaves from '../components/SvgShipWaves.astro';
---
<BaseLayout title="Marten Gierth | Portfolio">
    <div class="censored-container">
        <D3Force client:only="react" graph={graph}/>
        <h1>Moin, i am Marten</h1>
        <div class="linkContainer">
            <div>
                <ChipLink chipType="See my" chipTypeColor="#E60000" chipText="Work" url="#projects"
                          iconRight="/assets/arrow-right.svg"/>
            </div>
            <div>
                <ThemeIcon/>
            </div>
        </div>
        <SvgShipWaves/>
    </div>

    <div class="contentwrapper">
        <h1 id="projects">
            Projects
        </h1>
    </div>
    <div class="projectwrapper">
        <Projectwrapper/>
    </div>
</BaseLayout>

<style>
    .h1 {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .censored-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        height: 100vh;
    }

    .linkContainer {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    .linkContainer div {
        margin-top: 1rem;
    }

    .projectwrapper {
        padding: 0.5rem;
        max-width: 1280px;
        margin: 0 auto;
    }
</style>