---
import SocialIcons from '../components/SocialIcons.jsx';
import '../styles/global.css';
import Head from "../components/Head.astro";
import ChipLink from '../components/ChipLink.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
<head>
    <Head title="Marten Gierth | Portfolio"/>
</head>
<body style=" height: 100%; overflow: hidden;">
<div class="background"></div>
<main>
    <div class="censored-container">
        <h1 class="h1-center">Moin, I am Marten</h1>
        <div class="socialIconsContainer">
            <SocialIcons/>
        </div>
        <div class="linkContainer">
            <ChipLink chipType="new" chipTypeColor="Red" chipText="Projects" url="/projects"
                      iconRight="assets/arrow-right.svg"/>
        </div>
    </div>
</main>
<Footer/>
</body>
</html>
