---
import SocialIcons from '../components/SocialIcons.jsx';
import '../styles/global.css';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Marten Gierth</title>
    <style>

    </style>
</head>
<body>
<div class="background"></div> <!-- Hintergrundbild -->
<div class="main">
    <h1>Moin, i am Marten</h1>
    <div class="socialIconsContainer">
        <SocialIcons/>
    </div>
</div>
</body>
</html>