---
import Head from '../components/Head.astro';
import '../styles/global.css';
---
<html lang="en">
<head>
    <Head title="Marten Gierth | Legal Notice" url="https://mgierth.de/legal"/>
</head>
<body>
<main>
    <div class="contentwrapper">
        <h1>
            Legal Notice
        </h1>
        <p>
            According to § 5 DDG, this website does not require an imprint, as it is a private portfolio without
            commercial intent. The website does not use cookies, tracking technologies, analytics tools, or third-party
            services. No personal data is collected or stored.

        <p>This website is hosted on GitHub Pages. Please note that GitHub may process technical data such as IP
            addresses for operational purposes. For more information, refer to GitHub’s <a
                    href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement"
                    target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #007bff;">Privacy Policy</a>.</p>

        <p><a href="/" style="text-decoration: none; color: #007bff;"><- Back to homepage</a></p>
    </div>
</main>
</body>