---
import Head from '../components/Head.astro';
import '../styles/global.css';
import SettingsHomeTheme from '../components/SettingsHomeTheme.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Marten Gierth | Legal Notice" url="https://mgierth.de/legal">
    <div class="contentwrapper">
        <h1>
            Legal Notice
        </h1>
        <SettingsHomeTheme/>
        <p>
            According to ยง 5 DDG, this website does not require an imprint, as it is a private portfolio with no
            commercial intent.
        </p>
        <p>
            All content on this website, including text, images, and code, is protected by copyright. Any reproduction,
            distribution, or modification without prior permission is prohibited.
        </p>
        <p>
            This website does not use cookies or traditional tracking technologies, and no personal data is actively
            collected or stored. However, for security and operational purposes, technical data such as IP addresses and
            browser information may be processed by GitHub Pages for operational purposes and Cloudflare for security,
            performance optimization, and threat detection. For more information, please refer to the
            <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement" target="_blank"
               rel="noopener noreferrer">
                GitHub Privacy Policy
            </a> and
            <a href="https://www.cloudflare.com/de-de/privacypolicy/" target="_blank" rel="noopener noreferrer">
                Cloudflare Privacy Policy.
            </a>
        </p>
    </div>
</BaseLayout>