---
import Head from '../components/Head.astro';
import '../styles/global.css';
---
<html lang="en">
<head>
    <Head title="legal" url="https://mgierth.de/legal"/>
</head>
<body>
<main>
    <h1>
        Legal
    </h1>
    <p>
        According to ยง 5 DDG, there is no obligation to provide an imprint as this website is a private portfolio with
        no
        commercial intentions. The website does not use cookies, tracking technologies, analytics tools, or third-party
        services. No personal data is collected or stored.
    </p>
</main>
</body>