---
import Head from '../components/Head.astro';
import ProjectsList from '../components/projects-list.astro';
import '../styles/global.css';
---
<html lang="en">
<head>
    <Head title="Marten Gierth | Legal Notice" url="https://mgierth.de/legal"/>
</head>
<body>
<main>
    <div class="contentwrapper">
        <h1>
            Projects
        </h1>
        <ProjectsList/>
        <p><a href="/" style="text-decoration: none; color: #007bff;"><- Back to homepage</a></p>
    </div>
</main>
</body>