---
import Head from '../components/Head.astro';
import '../styles/global.css';
import ChipLink from "../components/ChipLink.astro";
import Projectwrapper from '../components/projectwrapper.astro';
---
<html lang="en">
<head>
    <Head title="Marten Gierth | Projects" url="https://mgierth.de/projects"
          description="Take a look at my creative projects in game development and interactive experiences!"/>
</head>
<body>
<div class="background"></div>
<main>
    <div class="contentwrapper">
        <h1>
            Projects
        </h1>
        <ChipLink chipText="home" url="/" iconLeft="/assets/arrow-left.svg"/>
    </div>
    <div class="projectwrapper">
        <Projectwrapper/>
    </div>
</main>
</body>

<style>
    .projectwrapper {
        padding: 0.5rem;
        max-width: 1280px;
        margin: 0 auto;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fcfcfc;
        z-index: -1;
    }
</style>