---
import Head from '../components/Head.astro';
import '../styles/global.css';
import Projectwrapper from '../components/projectwrapper.astro';
import SettingsHomeTheme from '../components/SettingsHomeTheme.astro';
---
<html lang="en">
<head>
    <Head title="Marten Gierth | Projects" url="https://mgierth.de/projects"
          description="Take a look at my creative projects in game development and interactive experiences!"/>
</head>
<body>
<div class="background"></div>
<main>
    <div class="contentwrapper">
        <h1>
            Projects
        </h1>
        <SettingsHomeTheme/>
    </div>
    <div class="projectwrapper">
        <Projectwrapper/>
    </div>
</main>
</body>

<style>
    .projectwrapper {
        padding: 0.5rem;
        max-width: 1280px;
        margin: 0 auto;
    }
</style>