---
import Project from './project.astro'
---
<div>
    <Project title="Caveman hits Giraffe in a Car"
             description="Slash, survive and get tougher - a wacky action roguelike with hand-drawn graphics and a caveman on the hunt for monsters! Just when you think you've seen it all, here it comes: a giraffe in a car."
             url=cavemanhitsgiraffeinacar.github.io image=""/>
</div>