---
// src/layouts/BaseLayout.astro
import Head from "../components/Head.astro";
const {title, description, url, image} = Astro.props;
import Footer from "../components/Footer.astro";
---
<html lang="de">
<head>
    <Head title={title} description={description} url={url} image={image}/>
    <script src="https://web.cmp.usercentrics.eu/modules/autoblocker.js"></script>
    <script id="usercentrics-cmp" src="https://web.cmp.usercentrics.eu/ui/loader.js" data-settings-id="Ba__uRyfiWmZEJ" async></script>

    <!-- Google Analytics 4 via Usercentrics -->
    <script
    type="text/plain"
    data-usercentrics="Google Analytics"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-W61TF1XXRY">
    </script>

    <script type="text/plain" data-usercentrics="Google Analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-W61TF1XXRY');
    </script>
</head>
<body>
<main>
    <slot/>
</main>

<footer>
    <Footer/>
</footer>
</body>
</html>
